<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lector QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Leer QR</ion-card-title>
    </ion-card-header>
    
    <img class="logo" src="assets/img/1.png" alt="QR">

    <br>

    <ion-button class="boton" 
    type="submit" 
    expand="block">Escanear</ion-button>

    <p>Felicitaciones </p>
          
  </ion-card>

</ion-content>

 -->
 
 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    Barcode Scanning
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-title>
          Lector QR
        </ion-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Formats</ion-label>
          <ion-select
            multiple="true"
            placeholder="Formats"
            formControlName="formats"
          >
            <ion-select-option [value]="barcodeFormat.QrCode"
              >QrCode</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Camara</ion-label>
          <ion-select formControlName="lensFacing">
            <ion-select-option [value]="lensFacing.Front"
              >Delantera</ion-select-option
            >
            <ion-select-option [value]="lensFacing.Back"
              >Trasera</ion-select-option
            >
          </ion-select>
        </ion-item>>

        <ng-container *ngFor="let barcode of barcodes">
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label position="fixed">Bytes</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.bytes?.toString() || ''"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Corner Points</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.cornerPoints?.toString() || ''"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Display Value</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.displayValue"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Format</ion-label>
                <ion-input type="text" readonly [value]="barcode.format"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Raw Value</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.rawValue"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Value Type</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.valueType"
                ></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-container>

        <ion-button
          expand="block"
          (click)="startScan()"
          [disabled]="!isSupported"
          >Start Scan</ion-button
        >
        <ion-button
          expand="block"
          (click)="readBarcodeFromImage()"
          [disabled]="!isSupported"
          >Read Barcode From Image</ion-button
        >
        <ion-button expand="block" (click)="scan()" [disabled]="!isSupported"
          >Scan</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
