<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    Scanner
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-title>
          Lector QR
        </ion-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Formato</ion-label>
          <ion-select
            multiple="true"
            placeholder="Formats"
            formControlName="formats"
          >
            <ion-select-option [value]="barcodeFormat.QrCode"
              >QrCode</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Camara</ion-label>
          <ion-select formControlName="lensFacing">
            <ion-select-option [value]="lensFacing.Front"
              >Delantera</ion-select-option
            >
            <ion-select-option [value]="lensFacing.Back"
              >Trasera</ion-select-option
            >
          </ion-select>
        </ion-item>>

        <ng-container *ngFor="let barcode of barcodes">
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label position="fixed">Bytes</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.bytes?.toString() || ''"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Corner Points</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.cornerPoints?.toString() || ''"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Display Value</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.displayValue"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Format</ion-label>
                <ion-input type="text" readonly [value]="barcode.format"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Valor en bruto</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.rawValue"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Tipo Valor</ion-label>
                <ion-input
                  type="text"
                  readonly
                  [value]="barcode.valueType"
                ></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-container>

        <ion-button
          expand="block"
          (click)="startScan()"
          [disabled]="!isSupported"
        >Escanear</ion-button>
        <ion-button
          expand="block"
          (click)="readBarcodeFromImage()"
          [disabled]="!isSupported"
        >Leer QR desde imagen
        </ion-button>
        <ion-button
          expand="block"
          (click)="backToLogin()"
        >Volver</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
